#exclude top directories and top directories files
/*
./*

!.gitignore
!polybar
!bspwm
!sxhkd
!picom*
!nvim
nvim/tmp
nvim/pack
!BetterDiscord
!README.md
!alacritty
!fish
!tmux
!bpython
!bpytop
!dolphinrc
!omf
!rofi
!.Xresources
!libinput-gestures*
!scripts
*.dat
!xsession
!copyq/copyq.conf
!bat
!spicetify
spicetify/Extracted
spicetify/Extentions
spicetify/Themes
!snips
