#exclude top directories and top directories files
/*
./*

!.gitignore
!polybar
!bspwm
!sxhkd
!picom*
!nvim
!BetterDiscord
!README.md
!alacrittyP
!fish
!tmux
!bpython
!bpytop
!dolphinrc
!omf
!rofi
!.Xresources
